/* Write your CSS here */

.my-contact-heading {
  color: #000000;
  margin-left: 30px;
}

.location-img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  margin-left: 30px;
}

.contact-image-container {
  display: flex;
  flex-direction: row;
}

.contact-paragraph {
  color: #000000;
  font-size: 17px;
  margin-left: 30px;
}

.contact-heading {
  color: #000000;
  margin-left: 25px;
}
